.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.images{
    display: grid;
}

.menu_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}